* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */
body {
    background-color: white;
    /*background: url('/img/benjamin-voros-phIFdC6lA4E-unsplash\ \(2\).webp') no-repeat ;*/
}
/* Body */


/* Main */
main {
    padding: 20px;
}

h2, p {
    text-align: center;
    padding: 5px;
}

section {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 1rem;
}
.sleepoutside div, .firstaid div {
    background-color: #E0E1DD;
    width: 100%;
    padding: 10px;
}

pre {
    background-color: white;
    
}

/* Main */


/* Changes the header size parameters wants to become smaller than 760px */
@media (max-width: 1200px) {
    
    .menu-icon {
        display: block; /* Show the hamburger menu container */
    }
    .navbar {
        display: none;
    }
    .navbar.active {
        display: block;
    }
    .menu-icon {
        font-size: 26px;
        cursor: pointer;
        color: black;
    }
    #menu::before {
        content: "☰";
    }
    #menu.open::before {
        content: "❎";
    }
    .home-contact{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5px;
        margin: 1rem;
    }
}

@media (max-width: 610px) {

    .menu-toggle{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    
}
/* HEADER */