main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.watch-later div {
    background-color: #E0E1DD;
    padding: 8px;
    border-radius: 4px;
    margin: 1rem;
}

.watch-later p {
    padding: 5px;
}

.watch-later div button {
    padding: 8px;
    background-color: #415A77;
    color: white;
    border-radius: 4px;
}
.watch-later div button:hover {
    background-color: white;
    color: #415A77;
}


@media (min-width: 1000px) {
    .watch-later div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2;
    }
    .watch-later h3 {
        grid-column: 1/3;
        grid-row: 1;
        padding: 10px;
    }

    .watch-later p {
        grid-column: 1;
        grid-row: 2;
    }

    .watch-later iframe {
        grid-column: 2;
        grid-row: 2;
    }

    button {
        margin: 0.5rem;
        grid-column: 1/3;
        grid-row: 3;
        padding: 10px;
    }
}